:root {
  --neutral: #232946;
  --base-100: #fffffe;
  --neutral-focus: #121629;
  --primary: #eebbc3;
  --accent: #d4d8f0;
  --secondary: #b8c1ec;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif", sans-serif;
  text-align: center;
  background-color: var(--neutral);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

h1 {
  font-size: 60px;
}
#navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%; /*changes the nav-bar back to the center,which initially was changed beacuse of positional to fix */
  background-color: var(--neutral);
  padding: 20px 0; /* Increases the width of the blue bar on the  nav-bar which was intially changed by putting everything to margin of 0 */
  font-size: 20px;
  border-bottom: 1px solid var(--neutral-focus);
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  text-decoration: none; /* Removes the lines under the nav-link words */
  color: var(--base-100);
  padding: 0 10px; /* this one spaces the words that are combined together */
}

.nav-links a:hover {
  text-decoration: underline; /* underlines when we pass through the nav-links */
}

section {
  min-height: 100vh;
  padding: 70px 0;
}

#welcome-section {
  background-color: var(--neutral);
  color: var(--base-100);
  display: flex;
  flex-direction: column;
}

#welcome-section h1 {
  margin-top: 30vh; /*pushed the 'Hello i'm clergi plus full stack develper to the middle downer */
}

#welcome-section p {
  color: var(--primary); /* changes the ' a full stack developer to pink' */
  font-size: 25px; /* increase the size of the ' a full stack developer to pink' */
  margin: 25px; /* Gives a space btn 'hello i'm Clergi' and ' a full stack developer to pink' */
  font-style: italic;
}
#projects {
  background-color: var(--secondary);
  color: var(--neutral);
}
#projects h1 {
  border-radius: 5px solid var(--neutral);
  width: fit-content;
  margin: auto;
}
#projects .project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
  place-items: center;
  max-width: 1200px;
  margin: auto;
}

#projects .project-tile {
  height: 525px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral);
  color: var(--accent);
  border-radius: 5px;
  box-shadow: 8px 8px 10px 5px rgba(100, 100, 100, 0.3);
  text-decoration: none;
}

#projects .project-tile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#projects .project-tile p {
  font-size: 25px;
  padding: 10px;
}

#projects .project-tile span {
  opacity: 0%;
  padding: 0 5px;
}
#projects .project-tile:hover span {
  opacity: 100%;
  color: va --primary;
  transition: opacity 0.25s ease-in;
}

.show-all {
  text-decoration: none;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  background-color: var(--neutral);
  color: var --accent;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.show-all:hover {
  background-color: var(--neutral-focus);
  color: var --base-100;
}

#contact {
  background-color: var(--neutral);
  color: var(--base-100);
}

#contact h1 {
  margin-top: 300px;
}

#contact .coffee-question {
  color: var(--primary); /* changes the ' a full stack developer to pink' */
  font-size: 25px; /* increase the size of the ' a full stack developer to pink' */
  font-style: italic;
}
#contact .social-medias {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: space-around;
  margin: auto;
  margin-top: 30px;
}

#contact .social-media {
  text-decoration: none;
  color: var(--base-100);
  transition: transform 0.2s ease-in;
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 22px;
}

#contact .social-media:hover {
  transform: translateY(10px);
}

footer {
  border-top: 3px solid var --primary;
  color: var(--base-100);
  font-size: 30px;
  padding: 30px;
}

@media only screen and (width < 700px) {
  h1 {
    font-size: 50px;
  }
  #projects .project-tile {
    height: 600px;
    width: 100px;
  }
}
